# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
cert/
/coverage/base.css
/coverage/block-navigation.js
/coverage/coverage-final.json
/coverage/favicon.png
/coverage/index.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
