html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    text-size-adjust: none;
    flex-direction: column;
    transition: 1s;
}

:root {
    --box-shadow: 2px 2px;
    --element-spacing: 8px;
    --grouped-element-spacing: 6px;
    --radio-width: 12px;
    --checkbox-width: 13px;
    --radio-label-spacing: 6px;
    --radio-total-width: calc(var(--radio-width) + var(--radio-label-spacing));
    --radio-left: calc(-1 * var(--radio-total-width));
    --radio-dot-width: 6px;
    --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
    --radio-dot-left: calc(-1 * var(--radio-total-width) + var(--radio-width) / 2 - var(--radio-dot-width) / 2);
    --checkbox-total-width: calc(var(--checkbox-width) + var(--radio-label-spacing));
    --checkbox-left: calc(-1 * var(--checkbox-total-width));
    --checkmark-width: 12px;
    --checkmark-top: 2px;
    --checkmark-left: 2px;
    --sys-color-white: #FFFFFF;
    --sys-color-black: #000000;
    --sys-color-grey: #A5A5A5;
    --sys-color-darkgrey: #B6B7B8;
    --primary: var(--sys-color-white);
    --secondary: var(--sys-color-black);
    --tertiary: var(--sys-color-grey);
    --disabled: var(--sys-color-darkgrey);
}

@font-face {
    font-family: Chicago;
    src: url("fonts/ChicagoFLF.woff") format("woff"),
    url("fonts/ChicagoFLF.woff2") format("woff2");
}

@font-face {
    font-family: Monaco;
    src: url("fonts/monaco.woff") format("woff"),
    url("fonts/monaco.woff2") format("woff2");
}

@font-face {
    font-family: Chicago_12;
    src: url("fonts/ChiKareGo2.woff") format("woff"),
    url("fonts/ChiKareGo2.woff2") format("woff2");
}

@font-face {
    font-family: Geneva_9;
    src: url("fonts/FindersKeepers.woff") format("woff"),
    url("fonts/FindersKeepers.woff2") format("woff2");
}

::-webkit-scrollbar {
    width: 22px;
    background-color: var(--primary);
}

::-webkit-scrollbar-track {
    background: linear-gradient(45deg, var(--secondary) 25%, transparent 25%, transparent 75%, var(--secondary) 75%, var(--secondary)),
    linear-gradient(45deg, var(--secondary) 25%, transparent 25%, transparent 75%, var(--secondary) 75%, var(--secondary));
    background-color: var(--primary);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
    border-left: 3px solid var(--secondary);
}

::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-right: none;
}

::-webkit-scrollbar-button {
    display: block;
    height: 23.38px;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:start {
    background-image: svg-load("./icon/scrollbar-up.svg");
}

::-webkit-scrollbar-button:vertical:start:active {
    background-image: svg-load("./icon/scrollbar-up-active.svg");
}

::-webkit-scrollbar-button:vertical:end {
    background-image: svg-load("./icon/scrollbar-down.svg");
}

::-webkit-scrollbar-button:vertical:end:active {
    background-image: svg-load("./icon/scrollbar-down-active.svg");
}

::-webkit-scrollbar-button:horizontal:start {
    background-image: svg-load("./icon/scrollbar-left.svg");
}

::-webkit-scrollbar-button:horizontal:start:active {
    background-image: svg-load("./icon/scrollbar-left-active.svg");
}

::-webkit-scrollbar-button:horizontal:end {
    background-image: svg-load("./icon/scrollbar-right.svg");
}

::-webkit-scrollbar-button:horizontal:end:active {
    background-image: svg-load("./icon/scrollbar-right-active.svg");
}

body {
    background: linear-gradient(90deg, var(--primary) 21px, transparent 1%) center,
    linear-gradient(var(--primary) 21px, transparent 1%) center,
    var(--secondary);
    background-size: 22px 22px;
    background-attachment: fixed;
}

a {
    color: var(--secondary);
    text-decoration: underline;
}

select {
    border: 1.5px solid;
    width: 10rem;
    font-family: Chicago_12;
    font-size: 18px;
    background-image: svg-load("./icon/select-button.svg");
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    appearance: none;
    padding-left: 20px;
    box-shadow: 2px 2px 0 -1px var(--secondary);
}

ul[role] {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    font-family: Chicago_12;
    font-size: 1em;
}

ul[role="menu-bar"] {
    display: flex;
    background: var(--primary);
}

ul[role="menu-bar"] > [role="menu-item"] {
    position: relative;
    padding: 6px 10px;
}

ul[role="menu-bar"] > [role="menu-item"]:focus,
ul[role="menu-bar"] > [role="menu-item"]:focus-within,
ul[role="menu-bar"] > [role="menu-item"]:hover {
    background: var(--secondary);
    color: var(--primary);
    outline: none;
}

ul[role="menu-bar"] > [role="menu-item"][aria-haspopup="false"] * {
    color: inherit;
    background: inherit;
    text-decoration: none;
}

ul[role="menu"] {
    position: relative;
    min-width: 200px;
    background: var(--primary);
    color: initial;
    border: 1px solid;
    box-shadow: var(--box-shadow);
}

ul[role="menu"]::before {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 28px;
    width: 2px;
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.15), inset -1px 0 var(--primary);
}

[role="menu-item"] ul[role="menu"] {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
}

ul[role="menu"] > [role="menu-item"] > a,
ul[role="menu"] > [role="menu-item"] > button,
ul[role="menu"] > [role="menu-item"][aria-haspopup="true"] {
    all: unset;
    position: relative;
    padding: 5px 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

ul[role="menu"] > [role="menu-item"] > a:hover,
ul[role="menu"] > [role="menu-item"] > button:hover,
ul[role="menu"] > [role="menu-item"][aria-haspopup="true"]:hover,
ul[role="menu"] > [role="menu-item"] > a:focus,
ul[role="menu"] > [role="menu-item"] > button:focus,
ul[role="menu"] > [role="menu-item"][aria-haspopup="true"]:focus {
    background: var(--secondary);
    color: var(--primary);
}

ul [role="menu-item"] {
    position: relative;
}

ul [role="menu-item"]:focus > [role="menu"],
ul [role="menu-item"]:focus-within > [role="menu"] {
    display: block;
}

ul [role="menu-item"].divider::after {
    content: "";
    pointer-events: none;
    display: block;
    padding: 0;
    border-top: 1.5px dotted var(--secondary);
}

ul[role="menu-bar"] > [role="menu-item"]:focus > ul[role="menu"],
ul[role="menu-bar"] > [role="menu-item"]:hover > ul[role="menu"] {
    display: block;
}
