html {
    display: flex;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    height: 100vh;
    /*text-size-adjust: none;*/
}

body {
    /*border: thin solid red;*/
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    transition: 1s;
}

input, button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0 0,
    2px 2px 0 0,
    3px 3px 0 0,
    4px 4px 0 0,
    5px 5px 0 0;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:active {
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
}

input::-webkit-file-upload-button, input::file-selector-button {
    visibility: hidden;
    padding: 0;
    margin: 0;
}
